@mixin heading-font-family
  font-family: $heading-font-family
  font-weight: $heading-font-weight

@mixin base-font-family
  font-family: $base-font-family
  font-weight: $base-font-weight

@mixin monospaced-font-family
  font-family: $monospaced-font-family
  font-weight: $monospaced-font-weight
