//
// Bemo default theme variables
//

$align-breakpoints:         ( tab lap desk wall )

// Enable all generator
$enable-button-rounded:     true
$enable-button-colored:     true
$enable-color-label:        true
$enable-transitions:        true
$enable-prefers-reduced-motion-media-query: false
$enable-color-gradients:    true
$enable-flash-colored:     true
$enable-flex-grid:          true
$enable-grid:               true

// Base personalized color
$blue-color:                #007bff
$purple-color:              #524ad0
$red-color:                 #dc3545
$orange-color:              #fd7e14
$yellow-color:              #ffc107
$green-color:               #28a745
$teal-color:                #20c997

$bemo-colors:               map-merge(("primary": $blue-color, "secondary": $purple-color, "danger": $red-color, "warning": $orange-color, "success": $green-color, "dark": $black-color, "light": $gray-color, "teal": $teal-color, "yellow": $yellow-color), $bemo-colors)

// Activate Flex and Grid
$flex-cols:                 ( 12 7 )
$flex-breakpoints:          ( tab lap desk wall )
$grid-cols:                 ( 12 7 )
$grid-breakpoints:          ( tab lap desk wall )

$space-amounts:             ( 1, 2, 3, 5, 8, 13 )
$space-directions:          ( top bottom left )
$space-breakpoints:         ( tab lap desk )

$space-sizes:               map-merge((15: 15%, 25: 25%, 50: 50%, 75: 75%, 100: 100%), $space-sizes)

$base-wrap-width:           1440px

$flash-colors:             map-merge(("notice": "primary", "alert": "danger", "warning": "warning"), $flash-colors)
$notice-colors:            notice-colors($flash-colors, $bemo-colors)

$table-color:           $black-color
$table-bg:              $white-color
$table-cell-padding:    12px
$table-border-width:    1px
$table-border-color:    #dae1e7
$table-accent-bg:       #dae1e7
$table-striped-order:   odd
