//
// Color system
//
$enable-color-gradients: false

// stylelint-disable
$white-color:    #fff
$gray-color:     #6c757d
$black-color:    #000

$blue-color:    #007bff !default
$indigo-color:  #6610f2 !default
$purple-color:  #6f42c1 !default
$pink-color:    #e83e8c !default
$red-color:     #dc3545 !default
$orange-color:  #fd7e14 !default
$yellow-color:  #ffc107 !default
$green-color:   #28a745 !default
$teal-color:    #20c997 !default
$cyan-color:    #17a2b8 !default

$colors: ()
$colors: map-merge(("blue": $blue-color, "indigo": $indigo-color, "purple": $purple-color, "pink": $pink-color, "red": $red-color, "orange": $orange-color, "yellow": $yellow-color, "green": $green-color, "teal": $teal-color, "cyan": $cyan-color, "white": $white-color, "gray": $gray-color, "gray-dark": $black-color), $colors)

$primary-color:       $indigo-color
$secondary-color:     $teal-color
$notice-color:        $cyan-color
$alert-color:         $red-color
$light-color:         $gray-color
$dark-color:          $black-color

$bemo-colors: () !default
$bemo-colors: map-merge(("primary": $primary-color, "secondary": $secondary-color, "notice": $notice-color, "alert": $alert-color, "light": $light-color, "dark": $dark-color), $bemo-colors)
// stylelint-enable

$base-body-color: $white-color

// Set a specific jump point for requesting color jumps
$bemo-color-interval:      8% !default

// The yiq lightness value that determines when the lightness of color changes from "dark" to "light". Acceptable values are between 0 and 255.
$yiq-contrasted-threshold: 150 !default

// Customize the light and dark text colors for use in our YIQ color contrast function.
$yiq-text-dark:    $black-color
$yiq-text-light:   $white-color

// Body
//
// Settings for the `<body>` element.

$body-bg-color:    $white-color
$body-color:       $black-color
$border-color:     $gray-color
