// Base Fonts Family
//
// font-family for body text, headings, and more.

$georgia:                    Georgia, Cambria, "Times New Roman", Times, serif
$helvetica:                  "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif
$monospace:                  "Bitstream Vera Sans Mono", Consolas, Courier, monospace

$heading-font-family:         $helvetica
$heading-font-weight:         600

$body-font-family:            $helvetica
$body-font-weight:            300

$monospaced-font-family:      $monospace
$monospaced-font-weight:      normal
