.flash
  text-align: center
  border: 1px solid $gray-color
  +heading-font-family
  +padding(1)
  border-radius: 4px
  color: $dark-color

.flash--notice
  @extend .flash
  border-color: $notice-color
  color: $notice-color

  &:before
    margin-right: 0.5em

.flash--alert
  @extend .flash
  border-color: $alert-color
  color: $alert-color

  &:before
    margin-right: 0.5em

.flash--full
  @extend .flash
  margin-top: -1px
  border-width: 1px 0
  border-radius: 0
